[build]
builder = "dockerfile"
dockerfilePath = "Dockerfile"
watchPatterns = ["dispatcher-admin/**"]

[deploy]
healthcheckPath = "/"
healthcheckTimeout = 100
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3
